
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@500&display=swap');
@import url(default.css);

body, form, div, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, fieldset, th, td, input, textarea, button, select {
   margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    color: #222;
}

body {
    font-size: 16px;
    font-family: 'NotoSans';
    color: #222;
    font-weight: 400;
}

.inner {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 1224px;
}

.login-wrap {
    margin-top: 100px;
}

.page-top {
    display: block;
    margin: 48px auto 56px auto;
}

.page-top .page-title-small {
    font-size: 32px;
    line-height: 46px;
    letter-spacing: -0.6px;
    text-align: center;
}

.login-tab {
    margin: -24px auto 72px auto;
    justify-content: center;
}
.tab-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 47px;
}
ol, ul, dl {
    list-style: none;
}
/* 회원 비회원 */
.tab-btn .login-btn ul{
	height: 20px; 
}


.login-tab li {
    display: inline-block;
    margin: 0 24px;
    border: none;
}
.tab-btn li {
    display: block;

}
li {
    list-style: none;
}

.login-tab li a {
    display: block;
    color: #949494;
    line-height: 18px;
    height: 20px;
}

.tab-btn li a {
    position: relative;
    display: block;
    width: 100%;
    height: 64px;
    line-height: 62px;
    text-align: center;
    color: #949494;
    font-size: 16px;
    letter-spacing: -0.45px;
}

/* .login-tab li a.on {
 	color: #949494; 
	  border-bottom: 1px solid #222  !important;
	font-weight: 400;
	 height: 20px !important;
} */
.login-tab li a {
    display: block;
    color: #949494;
    line-height: 18px !important;
    height: 20px;
}
/* 
.tab-btn li a.on {
    background: #222;
    color: #949494;
  font-weight: 700;
    width: calc(100% + 2px);
    margin-left: -1px;
    margin-right: -1px;
    height: 65px;
    margin-top: -1px;
}  */

* {
    box-sizing: border-box !important;
}
* {
    -webkit-text-size-adjust: none;
    text-shadow: none !important;
}


a {
    text-decoration: none;
    color: #222;
}

.flex center{
	padding: 0px;
}


.tab-btn li a {
    position: relative;
    display: block;
    width: 100%;
    height: 64px;
    line-height: 62px;
    text-align: center;
    color: #949494;
    font-size: 16px;
    letter-spacing: -0.45px;
}

.login-tab {
    margin: -24px auto 72px auto;
    justify-content: center;
}
.tab-btn {
    display: flex;
/*     justify-content: space-between; */
    align-items: center;
    width: 100%;
    margin-bottom: 47px;
}

/* .tab-cont .tab-inner.on {
    display: block; */
}
.tab-cont .tab-inner {
/*    display: none;  */
}

.search-wrap {
    width: 328px;
    margin: -31px auto 0 auto;
}


.search-wrap input {
    display: block;
    width: 100%;
    margin: 0 auto 8px auto;
}
input {
    -webkit-border-radius: 0;
}
input {
    vertical-align: middle;
}
input, textarea, select {
    letter-spacing: normal;
}

input[type="text"] {
    background: #fff;
    color: #222;
    font-size: 1em;
    padding: 0 10px;
    border: 1px solid #949494;
    height: 48px;
    line-height: 46px;
}

input[type="text"], input[type="password"] {
  -webkit-appearance: none; 
}

input[type="password"] {
    background: #fff;
    color: #222;
    font-size: 1em;
    padding: 0 10px;
    border: 1px solid #949494;
    height: 48px;
    line-height: 48px;
}

.search-wrap .input-wrap {
    display: block;
    position: relative;
    text-align: left;
    margin: 14px auto;
    width: 108%;
}

.search-wrap input {
    display: block;
    width: 100%;
    margin: 0 auto 8px auto;
}
input[type="checkbox"] {
 /*    display: none; */
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 1px solid gray;
}

input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: url(../../images/ico/checkbox_off.svg) no-repeat center left; 
    padding-left: 36px;
    color: #535353;
    min-width: 20px;
    min-height: 20px;
    background-size: 20px 20px;
} 

input[type="checkbox"]:checked + label {
    background: url(../../images/ico/checkbox_on_black.svg) no-repeat center left;
    background-size: 20px 20px;
}

.search-wrap .black-btn {
    width: 100%;
    margin: 0px auto 0 auto;
}
.large-btn {
    height: 64px;
    line-height: 62px;
    width: 232px;
}
.black-btn {
    position: relative;
    background: #222;
    color: #fff !important;
    text-align: center;
    border: 1px solid #222;
}
button, input[type="button"], input[type="submit"], input[type="reset"], input[type="file"] {
    -webkit-appearance: button;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1em;
}


.flex.center {
    justify-content: center;
    padding: 0px;
        width: 108%;
}
.login-opt {
    margin: 32px auto;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 108%;

}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
} 

.login-opt li a {
    color: #535353;
    border-bottom: 1px solid #535353;
    font-size: 14px;
    margin: 0px 12px;
}


.tab-cont .tab-inner.no-member {
    width: 400px;
    margin: 0 auto;
}


