@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@500&display=swap');


body, form, div, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, fieldset, th, td, input, textarea, button, select {
    margin: 0;
    padding: 0;
    font-family: "NotoSans",dotum,'돋움';
    color: #222;
}

section {
    min-height: calc(100vh - 96px - 320px);
}

.page-top {
    display: block;
    margin: 48px auto 56px auto;
}

.page-top .page-title {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -1.57px;
    text-align: center;
}

h2 {
	font-family: "NotoSans",dotum,'돋움';
    display: block;
   /*  font-size: 1.5em; */
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.inner {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 1224px;
}

.join-step {
    display: block;
    text-align: center;
    margin: -20px auto 56px auto;
}

.flex.center {
    justify-content: center;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ol, ul, dl {
    list-style: none;
}

.join-step ul li:not(:last-of-type) {
    margin-right: 88px;
}
.join-step ul li.on {
    color: #222;
}
.join-step ul li {
    display: inline-block;
    position: relative;
    color: #949494;
    font-size: 18px;
    letter-spacing: -0.5px;
}

.join-step ul li.on::after {
    content: '';
    display: inline-block;
    position: absolute;
    right: -44px;
    top: 8px;
    width: 8px;
    height: 13px;
    background: url(../../images/ico/arrow_next.svg) no-repeat center center;
}

.join-step ul li:not(:last-of-type) {
    margin-right: 88px;
}


.join-step ul li::after {
    content: '';
    display: inline-block;
    position: absolute;
    right: -44px;
    top: 8px;
    width: 8px;
    height: 13px;
    background: url(../../images/ico/arrow_next.svg) no-repeat center center;
}

form, article {
	display: block;
}

.terms h3 {
    font-size: 32px;
    /* line-height: 46px; */
}

.terms h3+.input-wrap {
    margin: 28px auto 56px auto;
}

input[type="checkbox"] {
    display: none;
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: none;
}

input[type="checkbox"]:checked + label {
    background: url(../../images/ico/checkbox_on_black.svg) no-repeat center left;
    background-size: 20px 20px;
}


input {
    -webkit-border-radius: 0;
}
input {
    vertical-align: middle;
}
input, textarea, select {
    letter-spacing: normal;
}

.terms .input-wrap label {
    letter-spacing: -0.45px;
}
input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: url(../../images/ico/checkbox_off.svg) no-repeat center left;
    padding-left: 36px;
    color: #535353;
    min-width: 20px;
    min-height: 20px;
    background-size: 20px 20px;
}

.terms .terms-box {
    margin-bottom: 40px;
}

.terms .input-wrap label span {
    color: #c81b1b;
}

.terms .terms-box .textarea {
    display: block;
    width: 100%;
    height: 270px;
    margin-top: 16px;
    border: 1px solid #bdbdbd;
    padding: 10px;
    overflow-y: auto;
}

article + .btn-wrap {
    margin-top: 64px;
}
.btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn-wrap.large button, .btn-wrap.large a {
    width: 232px;
    height: 64px;
    line-height: 62px;
}
.black-btn {
    position: relative;
    background: #222;
    color: #fff !important;
    text-align: center;
    border: 1px solid #222;
}

