@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@500&display=swap');

header{
  height: 96px;
}

.inner{
  display: block;
  position: relative;
  margin: 0 auto;
  width: 1224px;
}

.page-top{
  display: block;
  margin: 48px auto 56px auto;
}

.page-top .page-title{
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -1.57px;
  text-align: center;
}