@charset "UTF-8";

/*

element.style {
    padding-top: 128px;
}
section {
    min-height: calc(100vh - 96px - 320px);
}
* {
    box-sizing: border-box !important;
}
* {
    -webkit-text-size-adjust: none;
    text-shadow: none !important;
}

section {
    display: block;
}

.inner {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 1224px;
}
body, form, div, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, fieldset, th, td, input, textarea, button, select {
    margin: 0;
    padding: 0;
    font-family: "NotoSans",dotum,'돋움';
    color: #222;
}

.login-wrap {
    margin-top: 100px;
}

.page-top {
    display: block;
    margin: 48px auto 56px auto;
}

.page-top .page-title-small {
    font-size: 32px;
    line-height: 46px;
    letter-spacing: -0.6px;
    text-align: center;
}

.login-tab {
    margin: -24px auto 72px auto;
    justify-content: center;
}
.tab-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 47px;
}
ol, ul, dl {
    list-style: none;
}

.login-tab li {
    display: inline-block;
    margin: 0 24px;
    border: none;
}
.tab-btn li {
    display: block;
    border: 1px solid #949494;
    border-bottom: 2px solid #222;
}.login-tab li a.on {
    color: #222;
    border-bottom: 1px solid #222;
    background: #fff;
    font-weight: 400;
    height: 20px;
}
.tab-btn li a.on {
    background: #222;
    color: #fff;
    font-weight: 700;
    width: calc(100% + 2px);
    margin-left: -1px;
    margin-right: -1px;
    height: 65px;
    margin-top: -1px;
}
.login-tab li a {
    display: block;
    color: #949494;
    line-height: 18px;
    height: 20px;
}
.tab-btn li a {
    position: relative;
    display: block;
    width: 100%;
    height: 64px;
    line-height: 62px;
    text-align: center;
    color: #949494;
    font-size: 16px;
    letter-spacing: -0.45px;
}

.tab-btn li:not(:first-child) {
    border-left: none;
}
.login-tab li {
    display: inline-block;
    margin: 0 24px;
    border: none;
}
.tab-btn li {
    display: block;
    border: 1px solid #949494;
    border-bottom: 2px solid #222;
}
li {
    list-style: none;
}


.login-tab li a {
    display: block;
    color: #949494;
    line-height: 18px;
    height: 20px;
}
.tab-btn li a {
    position: relative;
    display: block;
    width: 100%;
    height: 64px;
    line-height: 62px;
    text-align: center;
    color: #949494;
    font-size: 16px;
    letter-spacing: -0.45px;
}

.tab-cont .tab-inner.on {
    display: block;
}
.tab-cont .tab-inner {
    display: none;
}

.search-wrap {
    width: 328px;
    margin: -31px auto 0 auto;
}


form{
  margin: 0;
    padding: 0;
    font-family: "NotoSans",dotum,'돋움';
    color: #222;
}
*/














