@import url(default.css);

/*러쉬 폰트 적용*/
@font-face {
    font-family: 'lush';
    src: url('../../fonts/LUSHKR_Medium.otf') format('truetype');
}

section {
    min-height: calc(100vh - 96px - 320px);
}

.top-visual {
    display: block;
    position: relative;
    width: 100%;
    height: 456px;
    margin-bottom: 40px;
    overflow: hidden;
    background-size: contain;
    background-position: center center;
}

.flex.center {
    justify-content: center;
}

.top-visual > div {
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: column;
    z-index: 2;
    background: rgba(34,34,34,.3);
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-visual img {
    position: absolute;
    min-width: 100%;
    display: block;
    z-index: 1;
    left: 50%;
    top: 50%;
    min-height: 100%;
    transform: translate(-50%,-50%);
}

.inner {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 1224px;
}

.top-visual .category-title {
    display: block;
    font-family: 'lush';
    font-size: 96px;
    line-height: 1em;
    color: #fafafa;
    letter-spacing: -3px;
    font-weight: 500;
}

.top-visual .category-sub {
    color: #fafafa;
    font-weight: 400;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}
