@import url(default.css);
@import url(boardEvent.css);
@import url(paging.css);
@import url(eventTab.css);

/*러쉬 폰트 적용*/
@font-face {
    font-family: 'lush';
    src: url('../../fonts/LUSHKR_Medium.otf') format('truetype');
}

section {
    min-height: calc(100vh - 96px - 320px);
}

.top-visual {
    display: block;
    position: relative;
    width: 100%;
    height: 456px;
    margin-bottom: 40px;
    overflow: hidden;
    background-size: contain;
    background-position: center center;
}

.flex.center {
    justify-content: center;
}

.top-visual > div {
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: column;
    z-index: 2;
    background: rgba(34,34,34,.3);
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-visual img {
    position: absolute;
    min-width: 100%;
    display: block;
    z-index: 1;
    left: 50%;
    top: 50%;
    min-height: 100%;
    transform: translate(-50%,-50%);
}

.inner {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 1224px;
}

.top-visual .category-title {
    display: block;
    font-family: 'lush';
    font-size: 96px;
    line-height: 1em;
    color: #fafafa;
    letter-spacing: -3px;
    font-weight: 500;
}

.top-visual .category-sub {
    color: #fafafa;
    font-weight: 400;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.tab-btn.type3 li {
    width: calc(100% / 3);
}

.tab-btn.type3 {
    margin-bottom: 32px;
}

.tab-cont .tab-inner.on {
    display: block;
}

table.list-table {
    border-top: 1px solid #bdbdbd;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;
}
table.list-table tr th {
    border-bottom: 1px solid #eee;
    font-size: 16px;
    line-height: 24px;
    color: #757575;
    font-weight: 400;
    padding-top: 19px;
    padding-bottom: 20px;
}

table.list-table tr td {
    border-bottom: 1px solid #eee;
    font-size: 16px;
    line-height: 24px;
    padding-top: 19px;
    padding-bottom: 20px;
    color: #757575;
}

table.list-table tr td {
    border-bottom: 1px solid #eee;
    font-size: 16px;
    line-height: 24px;
    padding-top: 19px;
    padding-bottom: 20px;
    color: #757575;
}

table.list-table tr td a {
    color: #222;
}

.ico-hot {
    display: inline-block;
    position: absolute;
    margin-left: 8px;
    margin-top: 3px;
    text-indent: -9999px;
    width: 22px;
    height: 10px;
    background: url(../images/ico/ico_hot.png) no-repeat center right 1px;
}

.ico-new + .ico-hot, .ico-hot + .ico-new {
    margin-left: 30px;
}

table.list-table tr td {
    border-bottom: 1px solid #eee;
    font-size: 16px;
    line-height: 24px;
    padding-top: 19px;
    padding-bottom: 20px;
    color: #757575;
}

table .center {
    text-align: center !important;
}


