/* 폰트사용 */
@import url(default.css);
@import url(boardEvent.css);
@import url(eventTab.css);
@import url(paging.css);

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

header{
  height: 96px;
}

img{
  border: 0;
  vertical-align: middle;
}

.inner{
  display: block;
  position: relative;
  margin: 0 auto;
  width: 1224px;
}

.page-top{
  display: block;
  margin: 48px auto 56px auto;
}

.page-top .page-title{
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -1.57px;
  text-align: center;
}

.tab-cont .tab-inner.on {
  display: block;
}

.list-thumb {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.list-thumb li {
  width: 389px;
  margin-right: 19px;
  margin-bottom: 48px;
}

.list-thumb li .article-thumb {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 278px;
  max-height: 278px;
  overflow: hidden;
}

.list-thumb li .article-title {
  display: block;
  margin: 10px auto 0px auto;
  font-size: 18px;
  letter-spacing: -.5px;
  font-weight: 700;
  text-align: center;
  color: #222;
}

.list-thumb li .article-cate {
  display: block;
  font-size: 18px;
  letter-spacing: -.5px;
  text-align: center;
  color: #222;
}

.list-thumb li .date {
  display: block;
  margin-top: 4px;
  letter-spacing: -.45px;
  color: #949494;
  text-align: center;
}

.list-thumb li .article-thumb img {
  display: block;
  position: absolute;
  min-height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height: 100%;
  width: auto;
}

.list-thumb + .paginate {
  margin-top: 32px;
}

