@import url(default.css);
@import url(boardEvent.css);
@import url(eventTab.css);
@import url(paging.css);

header{
    height: 96px;
}

section {
    min-height: calc(100vh - 96px - 320px);
}

.page-top {
    display: block;
    margin: 48px auto 56px auto;
}

.page-top .page-title {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -1.57px;
    text-align: center;
}


.tab-cont .tab-inner.on {
    display: block;
}

.board-read-top {
    padding: 0 24px;
}

.board-read-top li h3 {
    font-size: 32px;
    letter-spacing: -0.9px;
}

.board-read-top li:last-of-type {
    margin-top: 8px;
}

.board-read-top li .body1 {
    color: #535353;
}

.board-contents {
    margin: 32px auto 128px auto;
}

.board-img-wrap {
    position: relative;
}

.evt-section {
    position: relative;
}

.board-img-wrap img {
    /* display: block; */
    max-width: 100%;
}

img {
    border: 0;
    vertical-align: middle;
}

.evt-section .btn-login {
    left: 50.3%;
    top: 87.9%;
    width: 5%;
    height: 1.45%;
}

.evt-section a, .evt-section button {
    position: absolute;
    display: block;
    margin: 0;
    z-index: 1;
}

.evt-section .btn-comment {
    left: 38.4%;
    top: 89.7%;
    width: 5.3%;
    height: 1.45%;
}

.evt-section .btn-result {
    left: 49.4%;
    top: 92.8%;
    width: 13.3%;
    height: 1.75%;
}

.evt-noti {
    margin-top: 32px;
}

.evt-noti .noti-tit {
    margin-bottom: 5px;
    font-weight: normal;
    color: #535353;
    line-height: 1.5;
}

.evt-noti p, .evt-noti li {
    color: #535353;
    line-height: 1.5;
}

.evt-noti ul + p {
    margin-top: 15px;
}

.board-read .btn-wrap {
    margin-top: 74px;
}

.btn-wrap.right {
    justify-content: flex-end;
}

.btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn-wrap.medium button, .btn-wrap.medium a {
    width: 128px;
    height: 48px;
    line-height: 46px;
}

.border-btn {
    position: relative;
    border: 1px solid #222;
    background: #fff;
    color: #222;
    text-align: center;
}


/*댓글 영역*/
.reply {
    margin-top: 128px;
    border-top: 2px solid #535353;
    padding-top: 68px;
}

.inner {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 1224px;
}

.review-title {
    padding: 0 104px;
    margin-bottom: 38px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reply .review-title p a {
    color: #18a957;
    border-bottom: 1px solid #18a957;
}

.reply .review-wrap {
    margin-top: 48px;
}

.review-wrap ul li {
    display: block;
    padding: 12px 104px 24px 104px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: -1px;
}

.review-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    margin-bottom: 4px;
}

.review-wrap .subject {
    display: table-cell;
    padding-right: 24px;
    background: url('../../images/ico/ico_lock.svg') no-repeat center right;
    background-size: 16px auto;
    max-width: 860px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5px;
    margin: 0;
    color: #535353;
}

/*로그인 처리 후 버튼*/
.review-title button {
    width: 127px;
    height: 48px;
    line-height: 46px;
    display: block;
    font-size: 14px;
}

.black-btn {
    position: relative;
    background: #222;
    color: #fff;
    text-align: center;
    border: 1px solid #222;
}

/*댓글*/
.reply {
    margin-top: 128px;
    border-top: 2px solid #535353;
    padding-top: 68px;
}



