@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
script {
    display: none;
}

:root {
    --animate-duration: 1s;
    --animate-delay: 0.5s;
    --animate-repeat: 1;
}

html {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

:root {
    --animate-duration: 1s;
    --animate-delay: 0.5s;
    --animate-repeat: 1;
}

a:hover, a:focus, a:visited, a:active {
    text-decoration: none;
}


footer{
	display: block;
	position: relative;
	background: #000;
	margin-top: 160px;
}

footer .core{
	width: 100%;
	height: 140px;
	background: #f2f2f2;
	text-align: center;
	padding: 15px 0;
}

footer .core ul {
	max-width: 1070px;
	margin: 0 auto;
}

footer .footer-left .input-wrap input{
	border:none;
	width: 392px;
	height: 32px;
	line-height: 32px;
	background: #222;
	color: #949494;
	font-size: 14px;
	padding: 0 30px 0 7px;
}

button, input[type="button"], input[type="submit"], input[type="reset"], input[type="file"] {
    -webkit-appearance: button;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1em;
}

footer .footer-left .input-wrap button {
    position: absolute;
    right: 7px;
    top: 0;
    background: #222;
    color: #fff;
    width: 30px;
    height: 32px;
    line-height: 32px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

footer .footer-wrap{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 64px 0 64px 0;
}

footer .footer-left .link {
    display: inline-block;
    margin-left: 6px;
    border-bottom: 1px solid #fff;
}

footer .footer-left{
	margin-right: 220px;
}

footer .footer-left > p {
    margin: 12px 0 56px 0;
    letter-spacing: -0.39px;
    font-weight: 300;
    line-height: 22px;
}



footer .footer-right .notice li a {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.39px;
    font-weight: 300;
}

footer .footer-right .notice li a span{
	display: inline-block;
    margin-right: 5px;
    font-weight: 300;
}

footer .footer-right .notice li a .footer-ico {
    position: absolute;
    margin: 5px 0 0 4px;
}

footer .footer-right .footer-menu a {
    font-weight: 300;
}

footer .footer-right .footer-menu li strong {
    font-weight: 400;
    color: #fbe85e;
}

footer .footer-right .info .bar {
    margin: 0 6px;
}

footer .footer-right .info *, footer .footer-right .copyright {
    font-size: 14px;
    color: #a7a7a7;
    line-height: 22px;
    letter-spacing: -0.39px;
    font-weight: 300;
}

footer .footer-left .cscenter li strong {
    font-weight: 500;
}

footer .footer-left .cscenter li * {
    display: block;
    font-weight: 300;
}

footer .quick-menu ul li a, footer .quick-menu ul li button {
    width: 56px;
    height: 56px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 0;
    text-indent: -9999px;
    border-radius: 50%;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

ol, ul, dl {
	list-style: none;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	color: #222;
}

img{
	border:0;
	vertical-align: middle;
}


input, textarea, select{
	letter-spacing: normal;
}

*{
	box-sizing: border-box !important;
}
*{
	-webkit-text-size-adjust: none;
	text-shadow: none !important;
}

body{
	font-size: 16px;
	font-family: 'Noto Sans KR';
	color: #222;
	font-weight: 400;
}

.body1 {
    font-size: 16px;
    line-height: 24px;
}

.body2 {
    font-size: 14px;
    line-height: 20px;
}

b, strong {
    font-weight: 700;
}


footer .footer-right .footer-menu {
    display: block;
    width: 400px;
    margin: 32px 0 25px 0;
}

footer .core ul img {
    width: 136px;
}

a[href^="tel"] {
    font-style: normal;
}


footer *{
	color: #fff;
}


footer .footer-left .input-wrap {
    display: block;
    position: relative;
    width: 392px;
    margin-bottom: 0;
}

footer .footer-left .cscenter {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

footer .footer-left .cscenter li strong {
    font-weight: 500;
}

footer .footer-left .cscenter li .email {
    margin-bottom: 10px;
    font-weight: 300;
}

footer .footer-left .cscenter li {
    display: inline-block;
}

footer .footer-left .cscenter li:last-of-type {
    margin-left: 44px;
}

footer .footer-left .cscenter li .email {
    margin-bottom: 10px;
    font-weight: 300;
}

footer .footer-left .sns {
    margin-top: 46px;
}

footer .footer-left .sns li {
    display: inline-block;
}

footer .footer-right .footer-menu li {
    display: inline-block;
    width: 74px;
    margin: 4px 0;
}

footer .footer-right .footer-menu li:nth-of-type(3n - 1) {
    width: 131px;
    margin: 4px 54px;
}



a:hover, a:focus, a:visited, a:active {
    text-decoration: none;
}

footer .footer-right .copyright {
    margin-top: 10px;
}

footer .quick-menu {
    position: fixed;
    right: 24px;
    /* bottom: 448px; */
    bottom: 50px;
    z-index: 4;
}

footer .quick-menu ul li {
    display: block;
    text-align: right;
}

footer .quick-menu ul li:last-of-type {
    margin-top: 24px;
}

input {
    -webkit-border-radius: 0;
}

input {
    vertical-align: middle;
}

footer .quick-menu ul li .quick-times {
    background: #222 url(../../images/lushtimes/btn_times.png) no-repeat center center;
}

footer .quick-menu ul li .quick-top {
    background: #222 url(../../images/ico/ico_footer_top.svg) no-repeat center center;
}

footer .quick-menu ul li .quick-kakao {
    background: #fae100 url(../../images/ico/ico_footer_kakao.svg) no-repeat top 15px center;
    background-size: 32px auto;
}


footer .quick-menu ul li .quick-kakao.on {
    width: 108px;
    border-radius: 30px;
    background-position: top 15px left 17px;
    transition: all .15s;
}

footer .quick-menu ul li .quick-kakao.on::after {
    content: '상담톡';
    font-size: 14px;
    color: #222;
    position: absolute;
    right: 17px;
    top: 17px;
    display: inline-block;
    width: 40px;
    text-indent: 1px;
}
